.up{
	font:  italic small-caps bold 12px/30px Georgia, serif;
	
	padding: 10px;
	margin: 15px 30px;
	border-radius: 10px;
	border-style: none;
	background-color: #f3f3f3; 
	}

#tweet-container{
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	margin: 15px 30px;
	height:300px; 
		 
	border-radius: 10px;
	border-style: none;
	background-color: #f3f3f3;
		
}	

.NormalCSS{
	background-color: #4CAF50;
	border-style: none;
	border-radius: 5px;
	padding: 10px 20px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	
}

#removable{
	background-color: #4CAF50;
	border-style: none;
	border-radius: 5px;
	padding: 10px 20px;
	text-align: center;
	margin: 10px;
	
}

img{
	top: 0px;
	right: 0px;
	opacity:0.5;
	
	
}

img:hover{
	opacity:1;
}

	



